<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Portfolio Website</title> 
    <link rel="stylesheet" href="style2.css">   
			{% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="hero">
        <nav>
            <img src="/logo.png" class="logo">
            <ul>
                <li><a href="/aissatou">Accueil</a></li>
                <li><a href="/portfolio">E-Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</body>
{% block body %}{% endblock %}
</html>