{% extends 'base.html.twig' %}
{% block title %}accueil{% endblock %}
 {% block body %}       
       <div class="content">
            <span class="title"><strong>Élève en première année de BUT Réseaux&Télecommunications</strong></span>
            <h1>Ndeye<span>Aissatou</span>NDAO</h1>
            <p>Bienvenue sur mon site WEB ! Ici, je vous présente mon profil en espèrant bien que cela corresponde à celui que vous chercher.</p>
            <a href="/CV.PDF" class="btn">Mon CV</a>
        </div>
 {% endblock %}
            