{% extends 'base4.html.twig' %}
{% block title %}A propos{% endblock %}
{% block body %}
<div class="card">
    <a href="#">
        <!-- Image à la une -->
        <div class="card-image"><img
                src="/basketball.webp"
                alt="Orange" />
        </div>
        <!-- Fin de l'image à la une -->

        <!-- Corp de notre carte -->
        <div class="card-body">


            <!-- Titre de l'article -->
            <div class="card-title">
                <h3>Le Basket ball</h3>
            </div>
            <!-- Extrait de l'article -->
            <div class="card-excerpt">
                <p> Pour me libérer l'esprit et moins stresser je fais du basket ball.</p>
            </div>

        </div>
        <!-- Fin du corp de notre carte -->
    </a>
</div>
<div class="card" <a href="#">
    <!-- Image à la une -->
    <div class="card-image"><img
            src="lecture.webp" alt="Orange" />
    </div>
    <!-- Fin de l'image à la une -->

    <!-- Corp de notre carte -->
    <div class="card-body">

        <!-- Titre de l'article -->
        <div class="card-title">
            <h3>La lecture</h3>
        </div>
        <!-- Extrait de l'article -->
        <div class="card-excerpt">
            <p>La lecture est pour moi un moyen de m'évader lorsque je me sens compressée.</p>
        </div>

    </div>
    <!-- Fin du corp de notre carte -->
    </a>
</div>
{% endblock %}