{% extends 'base3.html.twig' %}

{% block title %}E-portfolio{% endblock %}
{% block body %}

<h2>Traduire,lire et executer un programme</h2>
<div class="progress">
  <div class="progress-value"></div>
</div>
<div class="progress">
  <div class="progress-value"></div>
</div>
<div class="progress">
  <div class="progress-value"></div>
</div>
<div class="progress">
  <div class="progress-value"></div>
</div>

{% endblock %}