{% extends 'base3.html.twig' %}

{% block title %}E-portfolio{% endblock %}
{% block body %}

 <h1>Traduire, exécuter et lire un programme</h1>
<div class="progress">
  <div class="progress-value"></div>
</div>
<div class="progress">
  <div class="progress-value"></div>
</div>
<div class="progress">
  <div class="progress-value"></div>
</div>
<div class="progress">
  <div class="progress-value"></div>
</div>

{% endblock %}